
:root{
  --color-acento: #ee6130;
  --color-acento-claro: #ee613033;
  --color-texto: black;
}

body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h3, p{
  margin: 5px;
}

.escondido{
  display: none;
}

a{
  background-color: unset;
  border:unset;
  cursor:pointer;
  text-decoration: none;
  transition: 200ms;
  color: var(--color-texto);
}

button{
  transition: 200ms;
}

a:hover:not(#cart), button:hover{
  color: var(--color-acento);
}



#logo{
  height: 40px;
  margin: 20px;
}

header nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav img{
  display: flex;
justify-content: space-around;
  height: 25px;
}

#cuenta-carrito{
  position: absolute;
  background-color: var(--color-acento);
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  aspect-ratio: 1;
  text-align: center;
  /* margin-bottom: 15px; */
}


#header {
  background: #fff;
  color: #000;
  z-index: 2;
  position: relative;
}
#header .header-nav {
  margin: 15px 0;
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}
#header .header-nav .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
#header .header-nav .header-wrapper .item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#header .header-nav .header-wrapper .item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 32px;
  position: relative;
}

.header-banner {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  padding: 5px 15px;
  text-transform: uppercase;
}

#header-nav-wrapper {
  width: 100%;
  float: left;
  background: #fff;
  z-index: 99;
  border-bottom: 2px solid #000;
}

li {
  display: inline;
  margin-right: 20px;
}
li .icons {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
li img {
  width: 25px;
  height: 20px;
}

img {
  max-width: 100%;
}



@media screen and (max-width: 768px) {
  #header .header-nav .header-wrapper {
    flex-direction: column; /* Cambia la dirección de flex a columna en móviles */
    align-items: center;
  }
  #header .header-nav .header-wrapper .item-left,
  #header .header-nav .header-wrapper .item-right {
    display: block; /* Muestra elementos como bloques en móviles */
    text-align: center;
    padding: 10px;
  }
  li {
    display: inline;

    margin-right: 5;
  }

  header nav div {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
  }

  #productos-container{
    display: grid;
    justify-content: center;
  }
 
 
}

@media screen and (min-width: 769px) and (min-width: 769px){

  #productos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 40px;
  }

  section#productos-ontainer{
    margin: 40px;
  }

  


}


footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.contenido-pie {
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor-pagos {
  padding: 5px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}


